.session_root_container {
    /*background: linear-gradient(to right, #BD3F32, #CB356B);*/
    background: #f0584d;
    border-radius: 1vw;
    padding: 2.5% 4%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, serif;
}
.session_type_container {
    display: flex;
    gap: 1.3vw;
}
.session-item {
    white-space: nowrap;
    background: transparent;
    border: none;
    border-radius: .35vw;
    color: white;
    font-size: 17px;
    width: 110px;
    height: 50px;
}
.session-item:hover {
    background-color: pink;
    cursor: pointer;
}
.session-item:focus {
    background-color: pink;
    color: mediumslateblue;
    font-weight: bold;
}
.session-time {
    font-size: 90px;
    margin: 10%;
}
.session-start {
    font-size: 17px;
    width: 125px;
    height: 50px;
}
.session-start {
    background: white;
    border: none;
    border-radius: .3vw;
    width: 180px;
    height: 50px;
    box-shadow: 0 9px #666;
}
.session-start:hover {
    background-color: pink;
}
.session-start:focus {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
