/**
-->PomodoroTask component<--
tasks-root-container (div)
    ---task-list-container(div)
    ---add-task-container(div)
        ---add-task-input(input)
        ---add-task-btn(button)
 */
#tasks-root-container {
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    padding: 0 4vw;
    margin: 1%;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
 }
 @media (max-width: 400px) {
     #tasks-root-container {
         padding-right: 10px;
         padding-top: 40px;
         padding-bottom: 40px;
     }
 }
 #add-task-container {
     display: flex;
     margin-top: 20px;
 }
 #add-task-input {
     background-color: lightpink;
     border: none;
     font-size: 20px;
     height: 56px;
     width: 290px;
     margin-bottom: 15px;
     margin-right: 2px;
 }
 #add-task-input:active {
     border: none;
 }
 #add-task-btn {
     cursor: pointer;
     white-space: nowrap;
     background: hotpink;
     border: none;
     color: white;
     font-size: 40px;
     width: 50px;
     height: 58px;
 }
 #add-task-btn:active {
  box-shadow: 0 2px #666 !important;
 }
 .finished_task {
  background-color: black;
 }